:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-titulo: 3.8rem;
}


html {
    font-size: 62.5%;
}
body {
    font-size: 16px;  /*Ajustamos 1 rem = 10px*/
    font-family: "Krub", sans-serif;
}


.titulo {
    text-align: center;
    font-size: var(--fuente-titulo);
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin-left: auto;

    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

@media (min-width: 480px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 768px) {
    body {
        background-color: cornflowerblue;
    }
}
